<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container mt-5">
        <h1>BMI Calculator</h1>
        <form action="/calculate" method="post">
            <div class="form-group">
                <label for="weight">Enter your weight (kg):</label>
                <input type="number" step="0.01" class="form-control" name="weight" required>
            </div>
            <div class="form-group">
                <label for="height">Enter your height (m):</label>
                <input type="number" step="0.01" class="form-control" name="height" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate BMI</button>
        </form>
    </div>
</body>
</html>
