<!DOCTYPE html>
<html>
<div class="video-container">
    <video autoplay muted loop id="video-background">
        <source src="../static/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>
<div class="centered-div">
    <title>Weight categories</title>
    <h2>Weight categories</h2>

    <h2>Underweight</h2>
    <ul>
        <li>Nutritional deficiencies: Insufficient intake of essential nutrients can weaken the immune system, lead to
            fatigue, and impair organ function.</li>
        <li>Osteoporosis: Lower body weight can increase the risk of bone weakening and fractures.</li>
        <li>Fertility issues: Women may face irregular menstrual cycles or difficulty conceiving due to low body weight.
        </li>
        <li>Weakened immune system: Underweight individuals may be more susceptible to infections and illness due to a
            compromised immune system.</li>
    </ul>

    <h2>Overweight</h2>
    <ul>
        <li>Heart disease and stroke: Excess weight can raise blood pressure and cholesterol levels, increasing the risk
            of heart disease and stroke.</li>
        <li>Type 2 diabetes: Obesity is a significant risk factor for developing insulin resistance and type 2 diabetes.
        </li>
        <li>Joint problems: The additional weight puts strain on joints, leading to conditions like osteoarthritis.</li>
        <li>Sleep apnea: Obesity increases the likelihood of experiencing interrupted breathing during sleep, leading to
            sleep apnea.</li>
    </ul>

    <h2>Obese</h2>
    <ul>
        <li>Higher risk of cancers: Obesity is associated with an increased risk of various cancers, including breast,
            colon, and pancreatic cancer.</li>
        <li>Mental health issues: Obesity can contribute to depression, low self-esteem, and body image concerns.</li>
        <li>Liver disease: Non-alcoholic fatty liver disease (NAFLD) is more prevalent among obese individuals.</li>
        <li>Respiratory problems: Breathing difficulties, including asthma and shortness of breath, are more common in
            obese individuals.</li>
    </ul>

    <a href="/">Get back to the calculator</a>

    <link href="../static/styles.css" rel="stylesheet">
</div>


</html>